h1,h2{
    text-align: center;
}

#image {
    text-align: center;
}

img {
    border-radius: 5px;
}
 

#para {
    margin: 0 100px;
}

ul,ol {
    margin-left: 30%;
    margin-right: 20%;
}

li {
    margin: 10px;
}